# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List some of the commonly used libraries used by Data Scientists
- List Data Science Tools
- Execute simple arithmetic expressions to multiply and then add integers
- Convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include: 
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

| Data Science Tools |
| ------------------ |
| MySQL |
| PostgreSQL |
| Jupyter |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Autor
Ana Claudia Casagrande Tacon